<section class="advantages distance">
  <div class="container">
    <h2 class="hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item list-item item anim-item anim-no-hide active-anim">
        <h3 class="advantages__title">
          Adapted author's UPE program
        </h3>
      </li>
      <li class="advantages__item anim-item anim-no-hide active-anim">
        <h3 class="advantages__title title-before">
          Modern <br />
          teaching methods
        </h3>
      </li>
      <li class="advantages__item anim-item anim-no-hide active-anim">
        <h3 class="advantages__title title-finans">
          Financial guarantee the result
        </h3>
      </li>
    </ul>
  </div>
</section>
