<section class="contacts contacts__overlay" id="contacts">
  <div class="container container-contacts">
    <h2 class="title-contacts">
      Registration for a <span class="title-contacts__accent">free</span> phone
      <span class="title-contacts__accent">consultation</span> on the nuances of English UPE
    </h2>
    <p class="text-contacts">
      Leave a request for participation in a <span class="text-contacts__accent">free lesson</span>.
      A consultant will contact you and answer your questions
    </p>
    <form class="form-contacts">
      <label class="field-contacts">
        <input type="text" class="input-contacts" name="name" placeholder="Name*" pattern="" />
        <input type="tel" class="input-contacts" name="tel" placeholder="Phone*" pattern="" />
      </label>
    </form>
    <button class="button" data-certificate-button>I want a free lesson</button>
  </div>
</section>
