<section class="hero">
  <div class="container">
    <h1 class="section-title">Complex preparation for English UPE</h1>
    <p class="hero__text"></p>
    <button class="button--accent">I want a free lesson</button>
    <div class="hero__block-img">
      <picture>
        <source
          srcset="../images/hero/hero-mobile.webp 1x, ../images/hero/hero-mobile@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <source
          srcset="../images/hero/hero-mobile.png 1x, ../images/hero/hero-mobile@2x.png 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <source
          srcset="../images/hero/hero-tablet.webp 1x, ../images/hero/hero-tablet@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <source
          srcset="../images/hero/hero-tablet.png 1x, ../images/hero/hero-tablet@2x.png 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <source
          srcset="../images/hero/hero-desktop.webp 1x, ../images/hero/hero-desktop@2x.webp 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <source
          srcset="../images/hero/hero-desktop.png 1x, ../images/hero/hero-desktop@2x.png 2x"
          type="image/webp"
          media="(min-width: 1366px)"
        />
        <img src="../images/hero/hero-mobile.png" alt="People learning" class="hero__image" />
      </picture>
    </div>
  </div>
</section>
