<section class="how-we position">
  <div class="container">
    <h2 class="how-we__title">How do we do it</h2>
    <ul class="how-we__list">
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#study-program"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">
            Adapted program prepara<span class="how-we__aft">tio</span>n for UPE
          </h3>
          <p class="how-we__item-text">
            You will learn grammar and vocabulary at the same time. And you will learn how to write
            essays.
          </p>
        </a>
      </li>
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#mobile-learning"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">
            Classroom and online lea<span class="how-we__aft">rni</span>ng
          </h3>
          <p class="how-we__item-text">
            The teacher will help not only in the classroom, but also during home
            preparation.Parents can chat if they wish.
          </p>
        </a>
      </li>
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#open_book"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">
            The habit of r<span class="how-we__aft">ead</span>ing in English
          </h3>
          <p class="how-we__item-text">
            Articles from sources that are used in the development of this UPE will be received by
            phone twice a week.
          </p>
        </a>
      </li>
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#student-group"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">Psychological su<span class="how-we__aft">ppo</span>rt</h3>
          <p class="how-we__item-text">
            We will teach you testing techniques, the ability to plan your confidence training in
            itself.
          </p>
        </a>
      </li>
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#student"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">
            Training on c<span class="how-we__aft">opy</span>right manuals
          </h3>
          <p class="how-we__item-text">
            You don't have to waste your time on a search for material and to buy anything extra. We
            have compiled 2 manuals for you.
          </p>
        </a>
      </li>
      <li class="how-we__list__item">
        <a href="" class="how-we__link">
          <div class="how-we__icon">
            <svg class="how-we__icon-svg">
              <use href="./images/icons.svg#audio-book"></use>
            </svg>
          </div>
          <h3 class="how-we__item-title">
            Ability to comprehend spoken En<span class="how-we__aft">gli</span>sh
          </h3>
          <p class="how-we__item-text">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
            in accordance with the studied vocabulary.
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>
