<div class="backdrop is-hidden" data-modal>
  <div class="modal-certificate" data-certificate>
    <button
      type="button"
      class="header__button header__button--closening"
      aria-expanded="false"
      aria-controls="header__mobile-thumb"
      data-certificate-button
    >
      <svg class="header__icon" width="15px" height="15px" aria-label="Закрываем мобильное меню">
        <use class="" href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <ul class="modal-certificate__list item">
      <li class="modal-certificate__item">
        <picture>
          <source src="./images/certificate/сert.webp" type="image/webp" />
          <img
            src="./images/certificate/сert.jpg"
            alt="certificate"
            class="modal-certificate__image"
          />
        </picture>
      </li>
      <li class="modal-certificate__item">
        <picture>
          <source src="./images/certificate/сert.webp" type="image/webp" />
          <img
            src="./images/certificate/сert.jpg"
            alt="certificate"
            class="modal-certificate__image"
          />
        </picture>
      </li>
    </ul>
  </div>
</div>
