<section class="program">
  <h2 class="program__title" id="program">Our program</h2>
  <div class="container">
    <div class="border"></div>
    <ul class="program-list">      
      <li class="program-list__item">
        <h3 class="program-list__title">1 semester</h3>
        <ul class="semester-program-list">
          <li class="semester-program-list__item semester-program-list__item--desktop-1-column">
            <h4 class="semester-program-list__title">Grammar</h4>
            <ul class="educational-list">
              <li class="educational-list__item">
                <p>Nouns & Articles</p>
              </li>
              <li class="educational-list__item">
                <p>Adjectives & Adverb</p>
              </li>
            </ul>
          </li>
          <li class="semester-program-list__item semester-program-list__item--desktop-2-column">
            <h4 class="semester-program-list__title">Vocabulary</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Family & Relations</li>
              <li class="educational-list__item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        <h3 class="program-list__title">2 semester</h3>
        <ul class="semester-program-list">
          <li class="semester-program-list__item semester-program-list__item--desktop-1-column">
            <h4 class="semester-program-list__title">Grammar</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Pronouns</li>
              <li class="educational-list__item">Active Voice</li>
              <li class="educational-list__item">Passive Voice</li>
            </ul>
          </li>
          <li class="semester-program-list__item semester-program-list__item--desktop-2-column">
            <h4 class="semester-program-list__title">Vocabulary</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Home</li>
              <li class="educational-list__item">School</li>
              <li class="educational-list__item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        <h3 class="program-list__title">3 semester</h3>
        <ul class="semester-program-list">
          <li class="semester-program-list__item semester-program-list__item--desktop-1-column">
            <h4 class="semester-program-list__title">Grammar</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Modal verbs</li>
              <li class="educational-list__item">Infinitive</li>
              <li class="educational-list__item">Gerund</li>
              <li class="educational-list__item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="semester-program-list__item semester-program-list__item--desktop-2-column">
            <h4 class="semester-program-list__title">Vocabulary</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Travel & Tourism</li>
              <li class="educational-list__item">Culture & Free Time</li>
              <li class="educational-list__item">Sport</li>
            </ul>
          </li>
          <li class="semester-program-list__item">
            <h4 class="semester-program-list__title">Writing</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        <h3 class="program-list__title">4 semester</h3>
        <ul class="semester-program-list">
          <li class="semester-program-list__item semester-program-list__item--desktop-1-column">
            <h4 class="semester-program-list__title">Grammar</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Clauses: Conditional and <br>Wishes</li>
              <li class="educational-list__item">Direct / Reported speech</li>
              <li class="educational-list__item">Preposition</li>
              <li class="educational-list__item">Conjunction</li>
              <li class="educational-list__item">Numeral</li>
            </ul>
          </li>
          <li class="semester-program-list__item semester-program-list__item--desktop-2-column">
            <h4 class="semester-program-list__title">Vocabulary</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Healthy Living</li>
              <li class="educational-list__item">Nature & Environment</li>
              <li class="educational-list__item">Money</li>
            </ul>
          </li>
          <li class="semester-program-list__item">
            <h4 class="semester-program-list__title">Writing</h4>
            <ul class="educational-list">
              <li class="educational-list__item">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program-list__item">
        <h3 class="program-list__title">5 semester</h3>
        <ul class="semester-program-list">
          <li class="semester-program-list__item">
            <h4 class="semester-program-list__title semester-program-list__title--last-title"></h4>
            <ul class="educational-list educational-list--image">
              <li class="educational-list__item">Revision</li>
              <li class="educational-list__item">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>