.button {
  display: block;
  margin: 0 auto;
  padding: 16px 36px;
  cursor: pointer;

  @include fonts($font, 700, 12px, 1.25);

  letter-spacing: 0.08em;
  text-transform: uppercase;

  background-color: $color-accent;
  color: $color-text-accent;
  border: none;

  box-sizing: border-box;

  &:hover,
  &:focus {
    color: $color-accent;
    background-color: $color-text-accent;
  }
}

.button.button--accent {
  background-color: transparent;
  color: $color-accent;

  border: 2px solid $color-accent;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-text-accent;
  }
}
