.header__logo {
  position: relative;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  color: $color-title;
  //   color: $color-text-accent; для открытого меню
}

// font-size: 26px; для tablet

.header__image {
  //   position: absolute;
  //   content: '';
  //   bottom: 3px;

  fill: $color-accent;
}

.logo {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;
}

.logo--accent {
  color: $color-accent;
}

.logo--primary {
  color: $color-title;
  //   color: $color-text-accent; для открытого меню
}
