.footer {
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer .footer-logo {
  padding-bottom: 20px;

  @media screen and (min-width: 768px) {
    text-align: left;
    margin-right: 204px;
  }
}

.footer-tell__icon {
  fill: $color-accent;
  width: 30px;
  height: 29px;
  margin-right: 10px;
  fill: $color-accent;
}

.footer .logo--primary {
  padding-bottom: 20px;
}

.footer-tell__icon {
  // color: $color-accent;
  // fill: $color-accent;

}

.footer-list {
  padding-bottom: 30px;


  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    // text-align: right;
  }

}


.footer-tel__link {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  line-height: 17.07px;

  font-size: 14px;
  color: $color-title;

  @media screen and (min-width: 768px) {
    margin-right: 24px;
    font-size: 20px;
  }
}

.footer-link_inst {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  display: block;
  background-image: url(.././images/instagram.svg);
}

.footer-item:first-child {
  margin-bottom: 30px;
}

.footer-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    border-right: 1px solid $color-title;
    margin-left: 24px;
    margin-right: 24px;
    // margin: 0;
  }
}


.footer-down__copyright {
  padding: 20px 20px;
  background-color: $color-title;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  color: $color-text;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0;
    margin-right: 40px;
    text-align: left;
    // text-align: left;
    // margin-left: 40px;
    // width: 768px;
  }
}
