.footer {
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
}

.footer .logo--primary {
  padding-bottom: 20px;
}

.footer-tell__icon {
  margin-right: 10px;
  fill: $color-accent;
}

.footer-list {
  padding-bottom: 30px;
}

.footer-tell__icon {
  width: 30px;
  height: 29px;
}

.footer-tel__link {
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  line-height: 17.07px;
  size: 14px;
  color: $color-title;
}

.footer-link_inst {
  background-image: url(.././images/instagram.svg);
}

.footer-item:last-child {
  border-right: 1px solid $color-title;
}

.footer-down__copyright {
  padding: 20px 20px;
  background-color: $color-title;
}

.copyright {
  font-style: normal;
  size: 14px;
  line-height: 28px;
  color: $color-text;
}
