.how-we {
  background: $color-text-accent;
}
.position {
  margin-bottom: 50px;
}
// .container {
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
//   display: block;
// }
// @media screen and (min-width: 480px) {
//   .container {
//     width: 450px;
//     margin: 0 auto;
//   }
// }
.how-we__title {
  font-family: $font;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-title;
  margin-bottom: 30px;
}

.how-we__item-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  align-items: center;
  display: flex;
  content: '';
  width: 15px;
  height: 2px;
  background-color: $color-accent;
  border-radius: 2px;
}
.how-we__link:focus,
.how-we__link:hover {
  background: $color-accent;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-we__link {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.how-we__list__item {
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .how-we__list__item:not(:last-child) {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 767px) {
  .how-we__item-title::after {
    position: absolute;
    bottom: 0%;
    left: 50%;
    align-items: center;
    display: block;
    content: '';
    width: 15px;
    height: 2px;
    background-color: $color-accent;
    border-radius: 2px;
  }
}
.how-we__icon {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.how-we__icon-svg {
  width: 45px;
  height: 48px;
  fill: $color-accent;
}
.how-we__item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.08em;
  color: $color-title;
  position: relative;
  // flex-grow: 1;
  height: 56px;
}
.how-we__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.08em;
  color: $color-text;
  margin-top: 8px;
}

// title
.wrapper {
  width: 65%;
  margin: 0 auto;
}

// hover>>>>

.how-we__link:focus .how-we__icon-svg,
.how-we__link:hover .how-we__icon-svg {
  fill: $color-text-accent;
}
.how-we__link:focus .how-we__item-title,
.how-we__link:hover .how-we__item-title {
  color: $color-text-accent;
}
.how-we__link:focus .how-we__item-text,
.how-we__link:hover .how-we__item-text {
  color: $color-text-accent;
}
.how-we__link:focus .how-we__item-title::after,
.how-we__link:hover .how-we__item-title::after {
  background-color: $color-text-accent;
}

// tablet>>>>>

@media screen and (min-width: 768px) {
  .how-we__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .how-we__title {
    font-size: 26px;
  }
  .how-we__item-text {
    line-height: 2.33;
  }
}
@media screen and (min-width: 768px) {
  .how-we__link {
    padding-top: 40px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .how-we__list__item {
    flex-basis: calc(100% / 2 - 20px);
  }
}
@media screen and (min-width: 768px) {
  .how-we__list__item {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
}
// @media screen and (min-width: 768px) {
//   .how-we__list__item:nth-child(2n-1) {
//     margin-right: 20px;
//   }
// }
@media screen and (min-width: 768px) {
  .how-we__list {
    margin-bottom: calc(-1 * 30px);
    margin-right: -20px;
  }
}
// 1200++++>>>>>

@media screen and (min-width: 1366px) {
  .how-we__list__item {
    flex-basis: calc(100% / 3 - 20px);
  }
}
// @media screen and (min-width: 1366px) {
//   .how-we__list__item:nth-child(2n-1) {
//     margin-right: 0;
//   }
// }
@media screen and (min-width: 1366px) {
  .how-we__list__item {
    margin-right: 20px;
  }
}
// @media screen and (min-width: 1366px) {
//   .how-we__list__item:not(:nth-child(3n)) {
//     margin-right: 30px;
//   }
// }
@media screen and (min-width: 1366px) {
  .how-we__title {
    font-size: 46px;
    text-align: left;
    margin-bottom: 60px;
  }
  .title-top {
    width: 101%;
  }
}
.how-we__link {
  height: 100%;
}
@media screen and (min-width: 1366px) {
  .how-we__item-title {
    font-size: 20px;
    line-height: 1.4;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .how-we__item-text {
    font-size: 18px;
    line-height: 1.55;
  }
}
@media screen and (min-width: 1366px) {
  .how-we__link {
    padding-top: 40px;
    padding-bottom: 55px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1366px) {
  .how-we__item-title::after {
    position: absolute;
    bottom: -50%;
    left: 50%;
    align-items: center;
    display: block;
    content: '';
    width: 15px;
    height: 2px;
    background-color: $color-accent;
    border-radius: 2px;
  }
}
