.problems {
  background-image: linear-gradient(to bottom, $color-title 75%, $color-text-accent 75% 100%);
}
.problems__wrapper {
  padding-top: 27px;
  padding-bottom: 50px;

  @media screen and (min-width: 1366px) {
    background-image: url(../images/fire.svg);
    background-size: 400px 400px;
    background-position: right bottom 130px;
    background-repeat: no-repeat;
    padding-top: 102px;
  }
}
.problems__title {
  @include fonts($font, 800, 24px);
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $color-text-accent;
  margin-bottom: 39px;

  &--text {
    color: $color-accent;
  }
}
.problems__list {
  counter-reset: section;
  list-style-type: none;
  background-color: $color-text-accent;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 60px 13px 4px 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 45px 10px 96px;
  }
  @media screen and (min-width: 1366px) {
    padding: 98px 30px 60px 114px;
  }
}

.problems__item {
  position: relative;
  @include fonts($font, 800, 14px, 1.71);
  letter-spacing: 0.08em;
  color: $color-title;

  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &::after {
    display: block;
    position: absolute;
    content: '';
    height: 2px;
    width: 14px;
    border-radius: 2px;
    background-color: $color-accent;
    left: 0px;
    top: -30px;
  }

  &::before {
    position: absolute;
    display: inline-block;
    counter-increment: section;
    content: '0' counters(section, '.') ' ';
    @include fonts($font, 800, 14px, 1.21);
    letter-spacing: 0.08em;
    color: $color-accent;
    left: 22px;
    top: -37px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px) / 2);
  }
  @media screen and (min-width: 1366px) {
    flex-basis: calc((100% - 120px) / 3);
  }
}
