@mixin flex($ai: center, $jc: center) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

@mixin fonts($ff: $font, $fw: 400, $fs: 10px, $lh: 1.2) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}
