$font: 'Montserrat', sans-serif;

$color-accent: #ff6b09;
$color-text: #b9b9b9;
$color-title: #111518;
$color-text-accent: #ffffff;
$color-text-alternative: #3d3d3d;
$bg-overlay: rgba(34, 36, 37, 0.8);
$bg-modal: rgba(17, 21, 24, 0.9);

$duration: 800ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$delay: 250ms;
